.parallax {
    min-height: 940px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../image/1-new.jpg");
}
.parallax-header {
    padding-top: 20px;
}
.parallax-language {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.common-button {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    outline: 0;
    white-space: nowrap;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.parallax-sign-in {
    padding-top: 40px;
}
.sign-in {
    width: 140px;
    background-color: rgba(239, 184, 93, 0.55);
    font-weight: 700;
}
.parallax-text {
    padding-top: 360px;
}
.parallax-text-info {
    padding-top: 50px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
}
.parallax-main-text {
    font-size: 42px;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
}
.parallax-main-title {
    font-weight: 700;
    padding-left: 10px;
}
.display-flex {
    display: flex;
}
.parallax-text-description {
    padding-top: 5px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
}
.parallax-author {
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
}
.parallax-text hr {
    border: none;
    background-color: #fff;
    color: #fff;
    height: 2px;
    width: 120px;
    margin-top: 5px;
}
.parallax-stats {
    padding-top: 50px;
}
.stats {
    font-size: 54px;
    font-weight: 500;
    line-height: 1.08;
    font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
    color: #fff;
}
.stats-description {
    text-align: center;
    color: #fff;
}
.arrow {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background-image: url("../image/arrow.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    -webkit-animation: btn-down 1s infinite;
    animation: btn-down 2s infinite;
}
.parallax-footer {
    padding-top: 65px;
}

/**
 TODO
 */

.text-block {
    margin-top: 25px;
}
.center-text {
    text-align: center;
}
.right-text {
    text-align: right;
}
.left-text {
    text-align: left;
}

/*FOOTER*/

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:100px;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}
